__pycache__/
.idea/
botTxtFiles/serverConfigs/*
botTxtFiles/bot.log
botTxtFiles/discordTokens.json
botTxtFiles/game.txt
botTxtFiles/blacklist.txt
web/SuedBot.weproj
addon_debug.py
.google-cookie
*.jpg
*.png
